* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #033E08;
    --primary-color30: #819F84;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

/* resuables */

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.link_1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #033407;
    /* padding: 14.5px 48px; */
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 57px;
    transition: .5s all ease-in-out;
}
.link_1:hover {
    background-color: #FFF;
    color:  var(--primary-color30);
}
.denote_btn {
    border: 2px solid #033E08;
    /* width: 190px;
    height: 57px; */
    padding: 18.5px 69px;
    background-color: transparent;
    color: #FFF;
}

/* resuables */

nav {
    height: auto;
    background-color: black;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.logo {
    position: relative;
}
.logo .img1 {
    position: relative;
    z-index: 1;
}
.logo .img2 {
    position: absolute;
    left: 28px;
}
.nav_menu {
    display: flex;
    align-items: center;
    gap: 71px;
}
.nav_menu .menu {
    display: flex;
    list-style: none;
    gap: 48px;
    width: auto;
}
.menu_links {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.menu_links.active {
    color: var(--primary-color30);
}

/* welcome_page */

.welcome_page {
    height: auto;
    padding-top: 117px;
    padding-bottom: 300px;
}
.welcome_page .content {
    gap: 15px;
    display: flex;
    flex-direction: column;
    max-width: 697px;
    position: relative;
    padding-top: 175px;
}
.welcome_page .content .state_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.welcome_page .content .greeting {
    font-family: 'Seaweed Script';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
}
.welcome_page .content .state_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.welcome_page .social {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 205px;
    justify-content: space-between;
    top: 386px;
}
.welcome_page .social img {
    border: 2px solid #2D5E31;
    border-radius: 100px;
    padding: 8px;
    height: 43px;
    width: 45px;
}

/* welcome_page */

/* verse */

.verse {
    position: relative;
    height: 305px;
    background-color: #fff;
}
.verse .container {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 73px;
    max-width: 70%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: 50%; */
}
.verse .container .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    color: #000000;
}
.verse .container .para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.verse .container .scripture {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #021F04;
    align-self: flex-end;
}

/* verse */

/* footer */
footer {
    background: #081209;
    padding-top: 20px;
}
.footer_container {
    gap: 42px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
footer .container .title {
    display: flex;
    gap: 50px;
    align-items: center;
    position: relative;
}
footer .container .title .text {
    position: relative;
}
footer .container .title .text  h1 {
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    color: #FFFFFF;
}
.footer_links {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-left: 130px;
    gap: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: auto;
    gap: 4rem;
    padding-left: 50px;
}
.footer_links .menu {
    max-width: 30%;
    position: relative;
}
.footer_links .menu,
.footer_links .contact {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.footer_links .contact {
    max-width: 70%;
    position: relative;
}
.footer_links .contact .cont_us {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.footer_links .contact p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer_links .socials {
    gap: 20px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    position: relative;
}
.footer_links .socials  .social_link {
    display: flex;
    gap: 20px;
}
.footer_links .socials  .social_link p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer_container .reserved::before {
    content: '';
    width: 500x;
    height: 3px;
}
.footer_container .reserved span {
    color: #EFC132;
}
.footer_container .reserved {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.footer_line {
    width: 100%;
    height: 0px;
    border: 2px solid rgba(150, 150, 150, 0.11);
}